apiVersion: apps/v1
kind: Deployment
metadata:
  name: niro-portfolio
  namespace: personal
spec:
  replicas: 1
  selector:
    matchLabels:
      app: niro-portfolio
  template:
    metadata:
      labels:
        app: niro-portfolio
    spec:
      containers:
        - name: niro-portfolio
          image: ghcr.io/niro58/niro-portfolio:f14cf8b25a20fb6ebd87689f9a33911e33aef9ac
          ports:
            - containerPort: 80
          livenessProbe:
            httpGet:
              path: /api/ping
              port: 3106
            initialDelaySeconds: 15
            periodSeconds: 30
            timeoutSeconds: 60
          resources:
            requests:
              cpu: 15m
              memory: 50Mi
            limits:
              cpu: 35m
              memory: 150Mi
