apiVersion: apps/v1
kind: Deployment
metadata:
  name: niro-portfolio
  namespace: personal
spec:
  replicas: 1
  selector:
    matchLabels:
      app: niro-portfolio
  template:
    metadata:
      labels:
        app: niro-portfolio
    spec:
      containers:
        - name: niro-portfolio
          image: ghcr.io/niro58/niro-portfolio:4866bf9ab3335d6178b105559fd313ff2be5d901
          ports:
            - containerPort: 80
          livenessProbe:
            httpGet:
              path: /
              port: 80
            initialDelaySeconds: 15
            periodSeconds: 30
            timeoutSeconds: 60
          resources:
            requests:
              cpu: 15m
              memory: 50Mi
            limits:
              cpu: 35m
              memory: 150Mi
