@import 'tailwindcss';
@import 'tw-animate-css';
@plugin "@tailwindcss/typography";
@config "./../tailwind.config.js";

@layer base {
	*,
	::after,
	::before,
	::backdrop,
	::file-selector-button {
		border-color: var(--color-gray-200, currentcolor);
	}
}

@layer base {
	:root {
		--background: hsl(0 0% 7.1%);
		--foreground: hsl(210 40% 98%);
		--card: hsl(0, 0%, 9%);
		--card-foreground: hsl(210 40% 98%);
		--popover: hsl(0, 0%, 9%);
		--popover-foreground: hsl(210 40% 98%);
		--primary: hsl(0 100% 64%);
		--primary-foreground: hsl(222 47% 11%);
		--secondary: hsl(217 32% 17%);
		--secondary-foreground: hsl(210 40% 98%);
		--muted: hsl(217 32% 17%);
		--muted-foreground: hsl(215 20% 65%);
		--accent: hsl(0 100% 64%);
		--accent-foreground: hsl(222 47% 11%);
		--destructive: hsl(0 62% 30%);
		--destructive-foreground: hsl(210 40% 98%);
		--border: hsl(217 32% 17%);
		--input: hsl(217 32% 17%);
		--ring: hsl(0 100% 64%);
		--sidebar-background: hsl(0, 0%, 9%);
		--sidebar-foreground: hsl(210 40% 98%);
		--sidebar-primary: hsl(0 100% 64%);
		--sidebar-primary-foreground: hsl(222 47% 11%);
		--sidebar-accent: hsl(217 32% 20%);
		--sidebar-accent-foreground: hsl(210 40% 98%);
		--sidebar-border: hsl(217 32% 17%);
		--sidebar-ring: hsl(0 100% 64%);
		--radius: 0.5rem;
	}
}

@theme inline {
	/* Radius (for rounded-*) */
	--radius-sm: calc(var(--radius) - 4px);
	--radius-md: calc(var(--radius) - 2px);
	--radius-lg: var(--radius);
	--radius-xl: calc(var(--radius) + 4px);

	/* Colors */
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-muted: var(--muted);
	--color-muted-foreground: var(--muted-foreground);
	--color-popover: var(--popover);
	--color-popover-foreground: var(--popover-foreground);
	--color-card: var(--card);
	--color-card-foreground: var(--card-foreground);
	--color-border: var(--border);
	--color-input: var(--input);
	--color-primary: var(--primary);
	--color-primary-foreground: var(--primary-foreground);
	--color-secondary: var(--secondary);
	--color-secondary-foreground: var(--secondary-foreground);
	--color-accent: var(--accent);
	--color-accent-foreground: var(--accent-foreground);
	--color-destructive: var(--destructive);
	--color-destructive-foreground: var(--destructive-foreground);
	--color-ring: var(--ring);
	--color-radius: var(--radius);
	--color-sidebar: var(--sidebar);
	--color-sidebar-foreground: var(--sidebar-foreground);
	--color-sidebar-primary: var(--sidebar-primary);
	--color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
	--color-sidebar-accent: var(--sidebar-accent);
	--color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
	--color-sidebar-border: var(--sidebar-border);
	--color-sidebar-ring: var(--sidebar-ring);

	--animate-accordion-down: accordion-down 0.2s ease-out;
	--animate-accordion-up: accordion-up 0.2s ease-out;
	--animate-caret-blink: caret-blink 1.25s ease-out infinite;

	--font-sans: 'Plus Jakarta Sans', sans-serif;
	--font-serif: Lora, serif;
	--font-mono: Roboto Mono, monospace;

	--tw-prose-body: var(--color-foreground);
	--tw-prose-headings: var(--color-primary);
}

@utility container {
	margin-inline: auto;
	padding-inline: 2rem;
}
@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
		font-family: var(--font-sans);
	}

	::selection {
		@apply bg-accent text-accent-foreground;
	}

	::-moz-selection {
		/* Code for Firefox */
		@apply bg-accent text-accent-foreground;
	}
	button,
	[role='button'] {
		@apply cursor-pointer;
	}

	textarea {
		@apply focus:ring-ring rounded border p-2 focus:ring focus:outline-none;
	}
}

@font-face {
	font-family: 'Plus Jakarta Sans';
	src: url('/fonts/PlusJakartaSans-VariableFont_wght.ttf') format('truetype');
	font-weight: 200 800;
	font-style: normal;
}

@font-face {
	font-family: 'Plus Jakarta Sans';
	src: url('/fonts/PlusJakartaSans-Italic-VariableFont_wght.ttf') format('truetype');
	font-weight: 200 800;
	font-style: italic;
}

@keyframes accordion-down {
	from {
		height: 0;
	}

	to {
		height: var(--bits-accordion-content-height);
	}
}

@keyframes accordion-up {
	from {
		height: var(--bits-accordion-content-height);
	}

	to {
		height: 0;
	}
}

@keyframes caret-blink {
	0%,
	70%,
	100% {
		opacity: 1;
	}

	20%,
	50% {
		opacity: 0;
	}
}
