@import 'tailwindcss';
@plugin 'tailwindcss-animate';

@layer base {
	:root {
		--background: hsl(0 0% 7.1%);
		--foreground: hsl(210 40% 98%);
		--card: hsl(0, 0%, 9%);
		--card-foreground: hsl(210 40% 98%);
		--popover: hsl(0, 0%, 9%);
		--popover-foreground: hsl(210 40% 98%);
		--primary: hsl(0 100% 64%);
		--primary-foreground: hsl(222 47% 11%);
		--secondary: hsl(217 32% 17%);
		--secondary-foreground: hsl(210 40% 98%);
		--muted: hsl(217 32% 17%);
		--muted-foreground: hsl(215 20% 65%);
		--accent: hsl(0 100% 64%);
		--accent-foreground: hsl(222 47% 11%);
		--destructive: hsl(0 62% 30%);
		--destructive-foreground: hsl(210 40% 98%);
		--border: hsl(217 32% 17%);
		--input: hsl(217 32% 17%);
		--ring: hsl(0 100% 64%);
		--sidebar-background: hsl(0, 0%, 9%);
		--sidebar-foreground: hsl(210 40% 98%);
		--sidebar-primary: hsl(0 100% 64%);
		--sidebar-primary-foreground: hsl(222 47% 11%);
		--sidebar-accent: hsl(217 32% 20%);
		--sidebar-accent-foreground: hsl(210 40% 98%);
		--sidebar-border: hsl(217 32% 17%);
		--sidebar-ring: hsl(0 100% 64%);
		--radius: 0.5rem;
	}
}

@theme {
	--color-border: var(--border);
	--color-input: var(--input);
	--color-ring: var(--ring);
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-primary: var(--primary);
	--color-primary-foreground: var(--primary-foreground);
	--color-secondary: var(--secondary);
	--color-secondary-foreground: var(--secondary-foreground);
	--color-destructive: var(--destructive);
	--color-destructive-foreground: var(--destructive-foreground);
	--color-muted: var(--muted);
	--color-muted-foreground: var(--muted-foreground);
	--color-accent: var(--accent);
	--color-accent-foreground: var(--accent-foreground);
	--color-popover: var(--popover);
	--color-popover-foreground: var(--popover-foreground);
	--color-card: var(--card);
	--color-card-foreground: var(--card-foreground) / <alpha-value>;
	--color-sidebar-DEFAULT: var(--sidebar-background);
	--color-sidebar-foreground: var(--sidebar-foreground);
	--color-sidebar-primary: var(--sidebar-primary);
	--color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
	--color-sidebar-accent: var(--sidebar-accent);
	--color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
	--color-sidebar-border: var(--sidebar-border);
	--color-sidebar-ring: var(--sidebar-ring);

	--radius-xl: calc(var(--radius) + 4px);
	--radius-lg: var(--radius);
	--radius-md: calc(var(--radius) - 2px);
	--radius-sm: calc(var(--radius) - 4px);

	--animate-accordion-down: accordion-down 0.2s ease-out;
	--animate-accordion-up: accordion-up 0.2s ease-out;
	--animate-caret-blink: caret-blink 1.25s ease-out infinite;

	--font-sans:
		'Geist', 'Inter Variable', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji',
		'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
	--font-mono:
		'Source Code Pro Variable', ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
		'Liberation Mono', 'Courier New', monospace;

	@keyframes accordion-down {
		from {
			height: 0;
		}
		to {
			height: var(--bits-accordion-content-height);
		}
	}
	@keyframes accordion-up {
		from {
			height: var(--bits-accordion-content-height);
		}
		to {
			height: 0;
		}
	}
	@keyframes caret-blink {
		0%,
		70%,
		100% {
			opacity: 1;
		}
		20%,
		50% {
			opacity: 0;
		}
	}
}

@utility container {
	margin-inline: auto;
	padding-inline: 2rem;
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
	}
	::selection {
		@apply bg-accent text-accent-foreground;
	}

	::-moz-selection {
		/* Code for Firefox */
		@apply bg-accent text-accent-foreground;
	}
	button {
		@apply cursor-pointer;
	}
}

@font-face {
	font-family: 'Geist';
	src: url('/fonts/geist/Geist-UltraLight.otf') format('opentype');
	font-weight: 200;
	font-style: normal;
}

@font-face {
	font-family: 'Geist';
	src: url('/fonts/geist/Geist-Light.otf') format('opentype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Geist';
	src: url('/fonts/geist/Geist-Regular.otf') format('opentype');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Geist';
	src: url('/fonts/geist/Geist-Medium.otf') format('opentype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Geist';
	src: url('/fonts/geist/Geist-Bold.otf') format('opentype');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Geist';
	src: url('/fonts/geist/Geist-Black.otf') format('opentype');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'Geist';
	src: url('/fonts/geist/Geist-UltraBlack.otf') format('opentype');
	font-weight: 950;
	font-style: normal;
}
