@keyframes MOVE-BG {
  0% {
    background-position: 50% 0;
  }
  100% {
    background-position: 50% 600%;
  }
}

.rainEffectBG {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: url("./../public/images/hero/hero-rain-effect.png") repeat-y;
  z-index: -1;
  background-size: 75% 75%;
  animation-name: MOVE-BG;
  animation-duration: 2.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
