.drop {
  background: linear-gradient(
    to bottom,
    rgba(13, 52, 58, 1) 0%,
    rgba(255, 255, 255, 0.6) 100%
  );
  width: 1px;
  height: 89px;
  position: absolute;
  bottom: 200px;
  animation: fall 1.15s linear infinite;
}

@keyframes fall {
  to {
    margin-top: 1100px;
  }
}
