name: Deploy to Server

on:
  push:
    tags:
      - 'v*'

permissions:
  packages: write
  contents: read

jobs:
  commit-hash:
    runs-on: ubuntu-latest
    outputs:
      commit_hash: ${{ steps.get_commit.outputs.commit_hash }}
    steps:
      - uses: actions/checkout@v4
        with:
          token: ${{ secrets.PRIVATE_REPO_TOKEN }}
      - name: Get commit hash
        id: get_commit
        run: echo "commit_hash=$(git rev-parse --short HEAD)" >> $GITHUB_OUTPUT

  build-and-test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          token: ${{ secrets.PRIVATE_REPO_TOKEN }}

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '22.14'

      - name: Install dependencies
        run: npm install

      - name: Run tests
        run: npm run test

  build-and-push-image:
    needs:
      - build-and-test
      - commit-hash
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.PRIVATE_REPO_TOKEN }}

      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.PRIVATE_REPO_TOKEN }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: |
            ghcr.io/niro58/niro-portfolio:${{ needs.commit-hash.outputs.commit_hash }}
            ghcr.io/niro58/niro-portfolio:prod
          labels: |
            org.opencontainers.image.source=https://github.com/niro58/niro-portfolio

  deploy:
    runs-on: ubuntu-latest
    needs:
      - build-and-push-image
      - commit-hash

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.PRIVATE_REPO_TOKEN }}

      - name: Create env file
        run: |
          echo "GIT_COMMIT_HASH=${{ needs.commit-hash.outputs.commit_hash }}" >> env
          echo "PUBLIC_API_PATH=${{ secrets.PUBLIC_API_PATH }}" >> env
          echo "MONGO_API_KEY=${{ secrets.MONGO_API_KEY }}" >> env
          echo "PUBLIC_MODE=prod" >> env

      - name: 'Docker Stack Deploy'
        uses: cssnr/stack-deploy-action@v1
        with:
          name: 'niro-portfolio'
          file: 'docker-stack.yml'
          host: nichita-r.com
          user: niro
          ssh_key: ${{ secrets.DEPLOY_SSH_KEY }}
